<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilo del modal-->
    <style type="text/css">
        #overlay{
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0.6);
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5b34934547.js" crossorigin="anonymous"></script>

    <!--instancia axios y vue-->
          
    <title>Registro Usuarios</title>
</head>
<body>
    <section id="app">
        <div class="row bg-dark">
            <div class="col-lg-12">
                <p class= "text-center text_light display-4 pt-2">USUARIOS</p>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-6">
                        <h2 class="text-dark">Usuarios Registrados</h2>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-success float-right" @click="mostrarInsertModal=true">
                        <i class="file"></i>&nbsp;&nbsp; Agregar Usuarios
                    </button>
                </div>
            </div>
                        
            <!--Mostrar Registros-->   
            <div v class ="table  table-hover">
                <div class="col-lg-12">
                    <table  class="table table-borderer table-striped">
                        <thead>
                            <tr class="text-center bg-dark text_light">
                                <th>ID</th>
                                <th>EMAIL</th>
                                <th>PERFIL</th>
                                <th>EDITAR</th>
                                <th>ELIMNAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="usuario in usuarios">
                                <td>{{usuario.id}}</td>
								<td>{{usuario.Correo}}</td>
								<td>{{usuario.Perfil}}</td>
							    <td><a href="#" class="text-success" @click="mostrarEditModal=true; selectUsuario(usuario);"><i class="fas fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger" @click="mostrarDeleteModal=true; selectUsuario(usuario);"><i class="fas fa-trash-alt"></i></a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Modal insertar-->
        <div id="overlay" v-if="mostrarInsertModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Insertar Usuario</h4>
                        <button type="button" class="close" @click="mostrarInsertModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="email" id="correo" class="form-control form-control-lg" placeholder="Correo" v-model="newUsuario.Correo">
                            </div>
                            <div class="form-group">
                                <input type="password" id="contrasenia" class="form-control form-control-lg " placeholder="" v-model="newUsuario.Contrasenia">
                            </div>
                            <div class="form-group">
                                <input type="number" id="perfil" class="form-control form-control-lg" placeholder="perfil" v-model="newUsuario.Perfil">
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-warning btn-block btn-lg" @click="mostrarInsertModal=false; addUsuario(); clearMsg();">Insertar Usuario</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Editar-->
        <div id="overlay" v-if="mostrarEditModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Editar Usuario</h4>
                        <button type="button" class="close" @click="mostrarEditModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="email" id="correo" class="form-control form-control-lg" v-model="currentUsuario.Correo">
                            </div>
                            <div class="form-group">
                                <input type="password" id="contrasenia" class="form-control form-control-lg" v-model="currentUsuario.Contrasenia">
                            </div>
                            <div class="form-group">
                                <input type="number" id="perfil" class="form-control form-control-lg" v-model="currentUsuario.Perfil">
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-warning btn-block btn-lg" @click="mostrarEditModal=false; updateUsuario(); clearMsg();">Editar Usuario</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Eliminar-->
        <div id="overlay" v-if="mostrarDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Eliminar Usuario</h4>
                        <button type="button" class="close" @click="mostrarDeleteModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h4 class="text-danger">Eliminar usuario: '{{currentUsuario.Correo}}'</h4>
                        <hr>
                        <button class="btn btn-danger btn-lg" @click="mostrarDeleteModal=false; deleteUsuario(); clearMsg();">Si</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-succes btn-lg" @click="mostrarDeleteModal=false">No</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>

            var app =new Vue ({
                el:'#app',
                data:{
                    errorMsj:"",
                    successMsj:"", 
                    mostrarInsertModal:false,
                    mostrarEditModal:false, 
                    mostrarDeleteModal:false,
                    usuarios:[], 
                    newUsuario:{Correo:"", Contrasenia:"", Perfil:""}, 
                    currentUsuario:{}
                    },
                    
                    mounted: function(){
                        this.getAllUsuarios();
                    },

                    methods:{
                        getAllUsuarios(){
                            axios.get("http://localhost/EVN404/CRUD1/procedimientos.php?accion=leer").then(function(response){
                                if(response.data.error){
                                    app.errorMsj=response.data.mensaje;
                                }
                                else{
                                    app.usuarios=response.data.usuarios;
                                }
                            });
                        },
                        
                        addUsuario(){
                            var formData = app.toFormData(app.newUsuario)
                            axios.post("http://localhost/EVN404/CRUD1/procedimientos.php?accion=insertar",formData).then(function (response){
                                app.newUsuario={Correo:"", Contrasenia:"", Perfil:""}; 
                                console.log(app.newUsuario.Correo);
                                if(response.data.error){
                                    app.errorMsj= response.data.mensaje;
                                }
                                else{
                                    app.successMsj=response.data.mensaje;
                                    app.getAllUsuarios();
                                }
                            })
                        },

                        updateUsuario(){
                            var formData = app.toFormData(app.currentUsuario)
                            axios.post("http://localhost/EVN404/CRUD1/procedimientos.php?accion=editar",formData).then(function (response){
                                app.currentUsuario={};
                                //console.log(app.newUsuario.Correo);
                                if(response.data.error){
                                    app.errorMsj= response.data.mensaje;
                                }
                                else{
                                    app.successMsj=response.data.mensaje;
                                    app.getAllUsuarios();
                                }
                            })
                        },

                        deleteUsuario(){
                            var formData = app.toFormData(app.currentUsuario)
                            axios.post("http://localhost/EVN404/CRUD1/procedimientos.php?accion=eliminar",formData).then(function (response){
                                app.currentUsuario={};
                                //console.log(app.newUsuario.Correo);
                                if(response.data.error){
                                    app.errorMsj= response.data.mensaje;
                                }
                                else{
                                    app.successMsj=response.data.mensaje;
                                    app.getAllUsuarios();
                                }
                            })
                        },

                        toFormData(obj){
                            var fd = new FormData();
                            for(var i in obj){
                                fd.append(i,obj[i]);
                            }
                            return fd;
                        },

                        selectUsuario(usuario){
                            
                            app.currentUsuario = usuario;  
                        },

                        clearMsg(){
                            app.errorMsj="";
                            app.successMsj="";
                        }
                    }
            })
        </script>
    </section>
</body>
</html>